@charset "utf-8";

/* Fonts */

@font-face {
  font-family: "Oswald-Light";
  src: url("../fonts//Oswald-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts//Oswald-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-SemiBold";
  src: url("../fonts//Oswald-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jaldi-Regular";
  src: url("../fonts/Jaldi-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?psr2a9");
  src: url("../fonts/icomoon.eot?psr2a9#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?psr2a9") format("truetype"),
    url("../fonts/icomoon.woff?psr2a9") format("woff"),
    url("../fonts/icomoon.svg?psr2a9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-dribble:before {
  content: "\e904";
}
.icon-behance:before {
  content: "\e905";
}

/* Scroll bar */

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: var(--grey);
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/* base styles */

:root {
  --grey: #202020;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Oswald-Light";
}

body {
  position: relative;
  background: var(--grey);
  overflow-x: hidden;
  color: #ffffff;
  /* background-image: linear-gradient(141deg, #202020, #262a28); */
}

/* body.resp_active{
  position: fixed;
} */

/* p, ul, li {
  margin: 0;
} */

ul,
li {
  list-style: none;
  margin: 0;
}

p, h1, h2, h3, h4, h5{
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
  font-family: "Oswald-SemiBold";
  font-size: 1.45em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2em;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/*############RESP_MENU############*/

.responsive__menu {
  width: 100%;
  height: 25px;
  cursor: pointer;
  z-index: 999;
  transition: 0.3s;
  grid-column: 10;
}

.responsive__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  height: 100%;
  width: 100%;
  align-items: center;
}

.responsive__menu ul li {
  width: 40px;
  height: 2px;
  background: #fff;
  position: relative;
}

.responsive__menu ul li::after {
  content: "";
  width: 40px;
  height: 2px;
  top: 10px;
  left: 0;
  background: #fff;
  position: absolute;
  transform: rotate(0deg);
  transition: all 300ms ease;
}

.responsive__menu ul li::before {
  content: "";
  top: -10px;
  left: 0;
  width: 40px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(0deg);
  transition: all 300ms ease;
}

.responsive__menu.active ul li::after {
  transform: rotate(-45deg) translateY(0px);
  transition: 0.3s;
  top: 0px;
  position: absolute;
}

.responsive__menu.active ul li {
  background-color: transparent;
  transition: 0.3s;
}

.responsive__menu.active ul li::before {
  transform: rotate(45deg) translateY(0px);
  transition: 0.3s;
  top: 0px;
  position: absolute;
}

/*############HEADER############*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: auto;
  align-items: center;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    to top,
    rgba(128, 128, 128, 0),
    rgba(0, 0, 0, 0.5) 60%
  );
}

.header__logo {
  width: 100%;
  margin: 20px 0;
  grid-column: 2;
  min-width: 130px;
}

.header__logo img {
  width: 100%;
}

/* Desktop Menu */

.menu {
    position: absolute;
    right: 0em;
    top: 0;
    transition: opacity 0.3s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    opacity: 0;
    background: rgb(0 0 0 / 0.8);
    backdrop-filter: blur(10px);
    pointer-events: none;
}

.menu.active {
  opacity: 1;
  position: fixed;
  pointer-events: all;
}

.menu li a {
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
}

.menu li:nth-child(1) a::after {
  content: "";
  width: 110px;
  height: 0.5px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 1.6em;
  left: calc(50% - 55px);
}

.menu li:nth-child(2) a::after {
  content: "";
  width: 50px;
  height: 0.5px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 1.6em;
  left: calc(50% - 25px);
}

.menu li:nth-child(3) a::after {
  content: "";
  width: 80px;
  height: 0.5px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 1.6em;
  left: calc(50% - 40px);
}

.menu li a:hover::after {
  content: "";
  transform: scaleX(1);
  transition: transform 300ms ease-in-out;
}

/*############SECTION01-BEGIN############*/

.quote {
  padding-top: 10em;
}

.quote p {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  font-family: "Oswald-Light";
  text-transform: uppercase;
  grid-column: 2/12;
}

/* .quote p::before {
  color: #fff;
  content: '"';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
}

.quote p::after {
  color: #fff;
  content: '"';
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2em;
} */

/*############SECTION02-BEGIN############*/

.photography {
  padding-top: 10em;
  text-align: center;
}

.photography__teaser_pictures {
  grid-row: 1;
  grid-column: 1/13;
}

.photography__teaser_pictures ul {
}

.photography__teaser_pictures ul li {
  height: 45px;
  filter: grayscale(1);
  overflow: hidden;
  transition: 1s;
}

.photography__teaser_pictures ul li:hover {
  filter: grayscale(0);
  transition: 1s;
  /* background-size: 750% !important; */
}

#teaser_1 {
  background: url(../img/autumm/autumm07.jpg) center center no-repeat;
  background-size: cover;
}

#teaser_2 {
  background: url(../img/aalen/aalen01.jpg) center center no-repeat;
  background-size: cover;
}

#teaser_3 {
  background: url(../img/barcelona/barcelona04.jpg) center center no-repeat;
  background-size: cover;
}

#teaser_4 {
  background: url(../img/Mannheim/mannheim01.jpg) center center no-repeat;
  background-size: cover;
}

.photography__teaser_text {
  grid-column: 1/13;
    padding: 0 20px;
    margin-top: 3em;
}

.photography__teaser_text h1 {
  position: relative;
}

.photography__teaser_text h1::after {
  content: "";
  height: 1px;
  width: 90px;
  position: absolute;
  top: 1.8em;
  left: calc(50% - 45px);
  background: #fff;
}

.photography__teaser_text p {
  font-family: "Jaldi-Regular";
  margin-bottom: 2em;
}

.teaser_text--button {
  padding: 15px 0;
}

.teaser_text--button a {
  padding: 15px 35px;
  text-transform: uppercase;
  /* background: linear-gradient(to left, rgb(255 255 255 / 0%) 50%, rgba(19,32,59,1) 50%, rgba(31,38,130,1) 128.1%);  */
  background: linear-gradient(to left, rgb(255 255 255 / 0%) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 1px solid #fff; 
  border-radius: 50px;
  transition: all ease 0.5s;
  width: 100%;
  height: 100%;
  font-size: 1.25em;
}


/* .teaser_text--button a::after {
  content: "";
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 50px;
  background: #fff;
  transition: 0.3s;
}

.teaser_text--button a:hover::after {
width: 100%;
z-index: -1;
} */

.teaser_text--button a:hover {
  color: #000;
  background-position: left bottom;
}

/*############SECTION02-END############*/

/*############SECTION03-BEGIN############*/

.design {
  text-align: center;
  padding-top: 10em;
}

.design__teaser_pictures {
  height: auto;
  grid-row: 1;
  grid-column: 1/13;
}

.design__teaser_pictures ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.design__teaser_pictures ul li {
  list-style: none;
  height: 45px;
  filter: grayscale(1);
  overflow: hidden;
  transition: 0.8s;
}

/* .design__teaser_pictures ul li:hover {
  filter: grayscale(0);
  transition: 0.8s;
}

.design__teaser_pictures ul li:nth-child(1) img {
  width: 850px;
  transform: translate(-31%, 0px);
}

.design__teaser_pictures ul li:nth-child(2) img {
  width: 601px;
  transform: translate(-24%, 0px);
}

.design__teaser_pictures ul li:nth-child(3) img {
  width: 1200px;
  transform: translate(-34%, 0px);
} */

.design__teaser_pictures ul li:hover {
  filter: grayscale(0);
  transition: 1s;
}

#design__teaser_1 {
  background: url(../img/design/borninashe.jpg) center center no-repeat;
  background-size: cover;
}

#design__teaser_2 {
  background: url(../img/design/covid19.jpg) center center no-repeat;
  background-size: cover;
}

#design__teaser_3 {
  background: url(../img/design/calendar.jpg) center center no-repeat;
  background-size: cover;
}

.design__teaser_text {
  grid-row: 2;
  grid-column: 1/13;
  padding: 0 20px;
  margin-top: 3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.design__teaser_text h1 {
  position: relative;
}

.design__teaser_text h1::after {
  content: "";
    height: 1px;
    width: 40px;
    position: absolute;
    top: 2em;
    left: calc(50% - 20px);
    background: #fff;
}

.design__teaser_text p {
  font-family: "Jaldi-Regular";
  margin-bottom: 2em;
}

/*############SECTION03-END############*/

/*############SECTION04-BEGIN############*/

.about {
  text-align: center;
  padding-top: 11em;
  padding-bottom: 9em;
  border-bottom: 1px solid #fff;
}

.about__teaser_text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1/13;
  padding: 0 20px;

}

.about__teaser_text h1 {
  font-size: 1.375em;
  position: relative;
}

.about__teaser_text h1::after {
  content: "";
  height: 1px;
  width: 65px;
  position: absolute;
  top: 2em;
  left: calc(50% - 32px);
  background: #fff;
}

.about__teaser_text p {
  font-family: "Jaldi-Regular";
  margin-bottom: 2em;
}

.about__teaser_text--button {
  padding: 15px 0;
}

.about__teaser_text--button a {
  padding: 15px 35px;
  text-transform: uppercase;
  background: linear-gradient(to left, rgb(255 255 255 / 0%) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 1px solid #fff;
  border-radius: 50px;
  transition: all ease 0.4s;
  width: 100%;
  height: 100%;
  font-size: 1.25em;
}

.about__teaser_text--button a:hover {
  color: #000000;
  background-position: left bottom;
}

/*############SECTION04-END############*/

/*############FOOTER-BEGIN############*/

.footer {
  padding-top: 3em;
  padding-bottom: 3em;
  max-width: 400px;
  margin: 0 auto;
}

.footer__social {
  grid-row: 2;
  grid-column: 2/12;
  margin-bottom: 2em;
}

.footer__social ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__social ul li {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0);
  transition: 0.3s;
  width: 45px;
  height: 45px;
}

.footer__social .facebook:hover {
  transition: 0.3s;
  border-radius: 50%;
  background: #1778f2;
}

.footer__social .instagram:hover {
  transition: 0.3s;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.footer__social .dribbble:hover {
  transition: 0.3s;
  border-radius: 50%;
  background: #ea4c89;
}

.footer__social .behance:hover {
  transition: 0.3s;
  border-radius: 50%;
  background: #1666f8;
}

.footer__social .icon-behance,
.footer__social .icon-dribble,
.footer__social .icon-instagram,
.footer__social .icon-facebook {
  color: #fff;
  font-size: 1.35rem;
}

.footer__social ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 100%;
    grid-column: 3/11;
  margin-bottom: 2em;
}

.footer__logo img {
  transition: 0.3s;
}

.footer__logo img:hover {
  transition: 0.3s;
  transform: scale(0.9);
  cursor: pointer;
}

.footer__policy {
  grid-row: 3;
  
  grid-column: 2/12;
}

.footer__policy ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.footer__policy ul li {
  list-style: none;
  color: #fff;
  font-size: 1.2em;
  position: relative;
  scroll-behavior: smooth;
  cursor: pointer;
}

.footer__policy ul li::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  width: 0;
  height: 0.5px;
  background: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__policy ul li:hover::after {
  content: "";
  width: 100%;
}

/* AUFKLAPP INFO DATENSCHUTZERKLÄRUNG */

.policy__info {
  transition: 0.8s;
  width: 100%;
  height: 0;
  padding: 0;
  z-index: 999;
  transform: translateY(-1600px);
  opacity: 0;
  pointer-events: none;
}

.policy__info.open {
  transition: 0.8s;
  height: auto;
  padding: 2em 1em;
  z-index: 999;
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.policy__info_close {
  padding: 0px 20px;
  border: 1px solid #fff;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  grid-column: 6/8;
  margin-bottom: 2em;
}

.policy__info_close span {
  font-size: 2em;
  font-family: "Jaldi-Regular";
}

.policy__info_close:hover {
  cursor: pointer;
}

.policy__info_content {
  border: 1px solid #fff;
  width: 100%;
  height: auto;
  grid-row: 2;
  grid-column: 1/13;
}

/* SMALL TABLET STYLES */
@media screen and (min-width: 620px) {

  * {
    font-size: 18px;
  }

  .header__logo {
    min-width: 200px;
}

.about {
  padding-top: 15em;
  padding-bottom: 12em;
}

.design, .photography, .quote {
  text-align: center;
  padding-top: 15em;
}
}

/* LARGE TABLET AND LAPTOP STYLES */
@media screen and (min-width: 960px) {
  * {
    font-size: 19px;
  }

  .header__logo {
    min-width: 220px;
    margin: 50px 0;
}

.about {
  padding-top: 15em;
  padding-bottom: 12em;
}

.design, .photography, .quote {
  text-align: center;
  padding-top: 15em;
}

h1 {
  margin-bottom: 3em;
}

.responsive__menu {
  grid-column: 11;
}

.menu li:nth-child(1) a::after {
  top: 1.6em;
}

.menu li:nth-child(2) a::after {
  top: 1.6em;
}

.menu li:nth-child(3) a::after {
  top: 1.6em;
}

/* Photography */

.photography__teaser_pictures {
  grid-column: 1/6;
}

.photography__teaser_text {
  grid-column: 6/13;
  padding: 4em 40px;
  margin-top: 0;
}

.photography__teaser_text p {
  margin-bottom: 5em;
}

.photography__teaser_pictures ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.photography__teaser_pictures ul li {
  height: 100%;
  width: 100%;
}

.photography__teaser_pictures ul li:hover {
  filter: grayscale(0);
  transition: 1s;
  background-size: 910% !important;
}

#teaser_1 {
  background: url(../img/autumm/autumm07.jpg) center center no-repeat;
  background-size: 860%; 
}

#teaser_2 {
  background: url(../img/aalen/aalen01.jpg) center center no-repeat;
  background-size: 860%;
}

#teaser_3 {
  background: url(../img/barcelona/barcelona04.jpg) center center no-repeat;
  background-size: 860%;
}

#teaser_4 {
  background: url(../img/Mannheim/mannheim01.jpg) center center no-repeat;
  background-size: 860%;
}

/* Design */

.design__teaser_text {
  grid-row: 1;
  grid-column: 1/8;
  padding: 4em 40px;
    margin-top: 0;
}

.design__teaser_text p {
  margin-bottom: 5em;
}

.design__teaser_pictures {
  height: 100%;
  grid-column: 8/13;
}

.design__teaser_pictures ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}


.design__teaser_pictures ul li {
  height: 100%;
  width: 100%;
}

#design__teaser_1 {
  background: url(../img/design/borninashe.jpg) center center no-repeat;
  background-size: 460%;
}

#design__teaser_1:hover {
  background-size: 510%;
}

#design__teaser_2 {
  background: url(../img/design/covid19.jpg) center center no-repeat;
  background-size: 305%;
}

#design__teaser_2:hover {
  background-size: 355%;
}

#design__teaser_3 {
  background: url(../img/design/calendar.jpg) center center no-repeat;
  background-size: 610%;
}

#design__teaser_3:hover {
  background-size: 660%;
}


/* About me */
.about__teaser_text {
  grid-column: 3/11;
}

.about__teaser_text p {
  margin-bottom: 5em;
}



/* Policy */



.policy__info_close {
  grid-column: 6/8;
}

}

/* DESKTOP STYLES */
@media screen and (min-width: 1200px) {

  /* HEADER */
  .responsive__menu {
    display: none;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    min-width: 500px;
    opacity: 1;
    background: none;
    grid-column: 11;
    backdrop-filter: none;
    position: relative;
    pointer-events: all;
}

.menu li a {
  font-size: 1.6em;
}

  #headerImage {
    height: 100vh;
    overflow: hidden;
  }

.header__logo {
  min-width: 250px;
  margin: 50px 0;
}

.about {
padding-top: 15em;
padding-bottom: 12em;
}

.design, .photography, .quote {
text-align: center;
padding-top: 15em;
}

h1 {
margin-bottom: 5em;
font-size: 1.5em;
}

.responsive__menu {
grid-column: 11;
}

.menu li:nth-child(1) a::after {
top: 1.6em;
}

.menu li:nth-child(2) a::after {
top: 1.6em;
}

.menu li:nth-child(3) a::after {
top: 1.6em;
}

.quote p {
  font-size: 1.5em;
}

/* Photography */

.photography__teaser_pictures {
grid-column: 1/7;
}

.photography__teaser_text {
grid-column: 7/13;
padding: 8em 40px;
margin-top: 0;
}

.photography__teaser_text p {
margin-bottom: 7em;
}

.photography__teaser_pictures ul {
display: flex;
flex-direction: row;
justify-content: space-between;
height: 100%;
}

.photography__teaser_pictures ul li {
height: 100%;
width: 100%;
}

.photography__teaser_pictures ul li:hover {
filter: grayscale(0);
transition: 1s;
background-size: 950% !important;
}

#teaser_1 {
background: url(../img/autumm/autumm07.jpg) center center no-repeat;
background-size: 900%; 
}

#teaser_2 {
background: url(../img/aalen/aalen01.jpg) center center no-repeat;
background-size: 900%;
}

#teaser_3 {
background: url(../img/barcelona/barcelona04.jpg) center center no-repeat;
background-size: 900%;
}

#teaser_4 {
background: url(../img/Mannheim/mannheim01.jpg) center center no-repeat;
background-size: 900%;
}

/* Design */

.design__teaser_text {
grid-row: 1;
grid-column: 1/7;
padding: 8em 40px;
  margin-top: 0;
}

.design__teaser_text p {
margin-bottom: 7em;
}

.design__teaser_pictures {
height: 100%;
grid-column: 7/13;
}

.design__teaser_pictures ul {
display: flex;
flex-direction: row;
justify-content: space-between;
height: 100%;
}


.design__teaser_pictures ul li {
height: 100%;
width: 100%;
}

/* About me */
.about__teaser_text {
grid-column: 4/10;
}


#design__teaser_1 {
background: url(../img/design/borninashe.jpg) center center no-repeat;
background-size: 460%;
}

#design__teaser_1:hover {
background-size: 510%;
}

#design__teaser_2 {
background: url(../img/design/covid19.jpg) center center no-repeat;
background-size: 315%;
}

#design__teaser_2:hover {
background-size: 365%;
}

#design__teaser_3 {
background: url(../img/design/calendar.jpg) center center no-repeat;
background-size: 630%;
}

#design__teaser_3:hover {
background-size: 680%;
}

/* Policy */

.policy__info_close {
grid-column: 6/8;
}
}
